.chatroom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatroom h1 {
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
}

.messages {
  width: 50vw;
  height: 50vh;
  border: 2px solid black;
}

.message-input input {
  width: 48vw;
  border-style: solid;
  border-top: none;
  border-left: 2px solid black;
  border-right: none;
  border-bottom: 2px solid black;
}

.message-input button {
  width: 2vw;
}
