@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');

@font-face {
  font-family: amongus;
  src: url('./fonts/amongus.ttf');
}

body {
  background-color: rgb(240, 240, 240);
}

.chatroom {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // grid-template-rows: auto;
  grid-template-areas:
    'header header header header header'
    'sidebar chat chat chat chat';
}

.chatroom h1 {
  font-family: amongus;
  // font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
}

.messageboard {
  grid-area: chat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
}
.leaderboard p {
  // text-align: center;
  font-family: amongus;
  font-size: 1.75rem;
  margin-top: 0;
}

.leaderboard tr {
  font-family: amongus;
}

.leaderboard td {
  text-align: center;
  padding: 0.75rem 1.25rem;
  font-family: 'Indie Flower', cursive;
}

.messages {
  overflow: auto;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column-reverse;
  border-top: 3px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 3px solid black;
  border-radius: 10px;
  background-color: rgb(186, 205, 227);
  box-shadow: 0px 0px 5px black;
}
.messages::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.message-input {
  margin-top: 1.25rem;
  border-radius: 10px;
}

.message-input input {
  width: calc(45vw - 4px);
  border-style: solid;
  border-top: 1px solid black;
  border-left: 2px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  box-shadow: 0px 0px 5px black;
  border-radius: 10px 0 0 10px;
  height: 25px;
  font-family: 'Indie Flower', cursive;
}

.message-input input:focus {
  outline: none;
}

.message-input button {
  width: 5vw;
  height: 30px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 0px 5px black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 0 10px 10px 0;
  font-family: 'Indie Flower', cursive;
}

.message-input button:hover {
  background-color: rgb(200, 200, 200);
  cursor: pointer;
}

.message {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'icon user'
    'icon message'
    'date date';
  border-radius: 10px;
  border: none;
  margin: 2%;
  background-color: rgb(250, 250, 250);
  box-shadow: 5px 3px rgb(104, 113, 124);
}

.message:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.message-user {
  grid-area: user;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  font-family: amongus;
  font-size: 150%;
  letter-spacing: 0.25rem;
}

.message-message {
  // grid-column: auto;
  // grid-row: 2;
  grid-area: message;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  font-family: 'Indie Flower', cursive;
}

.message-timestamp {
  // grid-row: 3;
  // grid-column: 1 / 3;
  grid-area: date;
  font-size: 12px;
  color: rgb(150, 150, 150);
  margin-left: 5px;
  margin-bottom: 5px;
  font-family: 'Indie Flower', cursive;
}

.icon {
  grid-area: icon;
}
