body {
  background-color: rgb(240, 240, 240);
}

.chatroom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatroom h1 {
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
}

.messages {
  width: 50vw;
  height: 50vh;
  border-top: 1px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 1px solid black;
  overflow: scroll;
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 0px 5px black;
}

.message-input input {
  width: calc(45vw - 4px);
  border-style: solid;
  border-top: 1px solid black;
  border-left: 2px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  box-shadow: 0px 0px 5px black;
  height: 25px;
}

.message-input input:focus {
  outline: none;
}

.message-input button {
  width: 5vw;
  height: 30px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 0px 5px black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.message-input button:hover {
  background-color: rgb(200, 200, 200);
}
