body {
  background-color: rgb(240, 240, 240);
}

.login-container {
  margin-top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 20vw;
  border: 1px solid rgb(30, 30, 30);
  border-radius: 10px;
  box-shadow: 0px 0px 4px black;
  background-color: rgb(250, 250, 250);
}

.login input {
  display: block;
  margin: 15px auto 15px auto;
}

.login button {
  display: block;
  margin: 15px auto 15px auto;
}

.login p {
  text-align: center;
  margin-bottom: 5px;
}

.login a {
  display: block;
  color: black;
  text-align: center;
  margin-bottom: 15px;
}
